<div class="container mt-5 pt-5">
  <!--Section: Content-->
  <section class="text-white shadow p-3 mb-5 bg-white rounded">
    <!-- Grid row -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <div class="row mx-0">
              <div class="col-lg-6 bg-success rounded-left py-5 px-md-5">
                <h4 class="font-weight-bold ml-3 mb-4 pb-2">Saves tme for developers</h4>
                <ul class="fa-ul mb-0">
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>Bootstrap Like Data API and classes</li>
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>Gulp tasks ready</li>
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>SCSS files included</li>
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>Built on top of Bootstrap 4</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Developer friendly code</li>
                </ul>
              </div>
              <div class="col-lg-6 bg-danger rounded-right py-5 px-md-5">
                <h4 class="font-weight-bold ml-3 mb-4 pb-2">Makes money for startups</h4>
                <ul class="fa-ul mb-0">
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>Clean & Modern Design</li>
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>Visitors would love to spend more time</li>
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>High possibility of conversion rate</li>
                  <li class="mb-2"><span class="fa-li"><i class="fa fa-check"></i></span>Ability to register from the landing page</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Includes 9 landing page samples</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid row -->
  </section>
  <!--Section: Content-->
</div>