<div class="container-fluid my-5 bg-info">
  <!--Section: Content-->
  <section class="text-white text-center px-md-5 py-5">
    <!-- Grid row -->
    <div class="container">
        <div class="row">
        <!-- Grid column -->
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- Form -->
          <form class="" action="">
            <!-- Section heading -->
            <h3 class="font-weight-bold mb-4">Company Name</h3>
            <p class="mb-4 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit, vitae fuga similique quos aperiam tenetur quo rerum debitis quibusdam.</p>
            <div class="input-group mb-4 pb-3">
              <input type="text" class="form-control" placeholder="Введите свой телефон без 8">
              <div class="input-group-append">
                <button class="btn btn-md btn-warning rounded-right m-0 px-3 py-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
          <!-- Form -->
        </div>
        <!-- Grid column -->
      </div>
    </div>
    <!-- Grid row -->
  </section>
  <!--Section: Content-->
</div>

<!-------------------------------------------------------------------------------->


<div class="container-fluid my-5 bg-info">
  <!--Section: Content-->
  <div class="container">
      <section class="p-5">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-5 mb-4 mb-md-0">
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" class="img-fluid" alt="smaple image">
          </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-7 mb-lg-0 mb-4">
          <!-- Form -->
          <form class="" action="">
            <!-- Section heading -->
            <h3 class="font-weight-bold my-3">Call to action</h3>
            <p class="text-white mb-4 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae, fuga similique quos aperiam tenetur quo ut rerum debitis.</p>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter your tel">
              <div class="input-group-append">
                <button class="btn btn-md btn-primary rounded-right m-0 px-3 py-2" type="submit">Button</button>
              </div>
            </div>
          </form>
          <!-- Form -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
  </div>
  <!--Section: Content-->
</div>


<!---------------------------------------------------------------------------->


<div class="container-fluid mt-3 mb-5">
  <!-- Section -->
  <section style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/full%20page/img%20(2).jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <style>
      .input-grey .input-group-lg>.input-group-prepend>.input-group-text {
        border-radius: .125rem;
      }
      .input-grey .form-control {
        border-radius: .125rem;
      }
      .input-grey .form-control.form-control-lg {
        font-size: 1rem;
      }
      .form-control:focus {
        background-color: rgba(255,255,255,.3);
      }
      .input-grey input::placeholder {
        color: #222;
      }
    </style>
    <div class="py-5" style="background-color: rgba(0,0,0,0.7);">
      <div class="container text-center my-5">
        <h3 class="font-weight-bold text-center text-white pb-2">News and Updates</h3>
        <p class="lead text-center text-white pt-2 mb-5">Subscribe to our newsletter and receive the latest news
          from MDB.</p>
        <form class="input-grey mb-5" action="" method="post" target="_blank">
          <div class="form-row">
            <div class="col-md-4 ml-auto">
              <div class="input-group input-group-lg">
                <input type="text" name="call_to_action" class="form-control form-control-lg rgba-white-light text-dark border" placeholder="телефон ваш">
              </div>
            </div>
            <div class="col-md-2 mr-auto">
              <button class="btn btn-block btn-primary">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Section -->
</div>

<!------------------------------------------------------------------------------------------------------->

<div class="container my-5 p-5 btn-warning">
  <section>
    <h3 class="font-weight-normal text-center dark-grey-text my-4 pb-2">Start Using Bootstrap Now!</h3>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-lg-4 mb-4">
        <!-- Material outline input -->
        <div class="md-form md-outline form-lg">
          <label for="form1">Ваше имя</label>
          <input type="text" id="form1" class="form-control form-control-lg" placeholder="Введите имя">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="md-form md-outline form-lg">
          <label for="form2">Ваш номер</label>
          <input type="text" id="form2" class="form-control form-control-lg" placeholder="Введите свой номер">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <button class="btn btn-block btn-lg btn-primary my-4" style="position: relative;top:7px;">Отправить</button>
      </div>
    </div>
  </section>
</div>

<!------------------------------------------------------------------------------------------------------------->


