<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead" style="height: 100vh;min-height: 500px;background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
 background-size: cover;background-position: center;background-repeat: no-repeat;">
  <div class="container-fluid"> 
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg shadow">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Home              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">+7 900 777 88 55</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h1 class="font-weight-light text-center">Vertically Centered Masthead Content</h1>
        <p class="lead text-center">A great starter layout for a landing page</p>
        <form style='margin:0 auto;display: table;width:280px;background: #ddd;padding: 20px;'>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</header>

<!-------------------------------------------------------------------------------------------------------->


<header class="header" style="background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080')">
	<div class="container top_menu">
		<div class="row">
			<div class="col-md-6 text-white">
				<p><a href="/">LOGO</p>
			</div>
			<div class="col-md-6 text-right"> 
				<p><a href="tel:+79189262387">+7 (918) 926-23-87</a></p>
				<p><a href='#' class='recall' data-toggle="modal" data-target="#call">Вам перезвонить?</a></p>
			</div>
		</div>
	</div>
	<div class="container header_main">
		<div class="row">
			<div class="col-md-6 header_left ">
				<h1>Think the or organization same proposal to affected heard reclined in be it reassuring.</h1>
				<h3 class="text-secondary">Think the or organization same proposal to affected heard reclined in be it reassuring.</h3>
				  <form action="#">
					<h3 class='text-center text-dark'>Explore the best MDB template in the market in a short 1-minute video</h3>
					<div class="form-group"> 
					  <label for="name">Ваше имя</label>
					  <input type="email" class="form-control form-control-lg" id="name" placeholder="Введите Ваше имя" name="name">
					</div>
					<div class="form-group">
					  <label for="telephone">Ваш номер</label>
					  <input type="text" class="form-control form-control-lg" id="telephone" placeholder="Введите номер без 8" name="telephone">
					</div>
					<button type="submit" class="btn btn-danger btn-block btn-lg" name='optom'>Button get <i class="fa fa-chevron-right" aria-hidden="true" style='position: relative;top:2px;'></i></button>
				  </form>
			</div>
			<div class="col-md-6 header_right">
				<img src="https://lobobike.es/wp-content/uploads/2018/12/asa.png" alt=""> 
			</div>
		</div>
	</div>
</header>

<!------------------------------------------------------------------------------------------------------->

<style>
.page-header { background: url(https://easetemplate.com/free-website-templates/hike/images/pageheader.jpg)no-repeat; position: relative; background-size: cover; }
.page-caption { padding-top: 170px; padding-bottom: 174px; }
.page-title { font-size: 46px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }
.card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; }
</style>

<header>
    <div class="page-header">
        <div class="container-fluid">
           <div class="container">
              <nav role ="navigation" class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand" href="#">Navbar</a>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="#" class="nav-link font-weight-bold"><i class="fa fa-phone" aria-hidden="true"></i> +7 900 744 74 58</a></li>
                </ul>
                </div>
              </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">All about Hike. We share our knowledge on blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h2>All about Hike. We share our knowledge on blog</h2>
                            <p>Our approach is very simple: we define your problem and give the best solution. </p>
                        </div>
                        <!-- /.section-title -->
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h4 class='text-center'>All about Hike. We share our knowledge on blog</h4>
                            <form action="#">                              
                              <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="telephone" placeholder="Введите номер без 8" name="telephone">
                              </div>
                              <button type="submit" class="btn btn-danger btn-block btn-lg" name='optom'>Submit button <i class="fa fa-chevron-right" aria-hidden="true" style='position: relative;top:2px;'></i></button>
                            </form>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!------------------------------------------------------------------------------------------------------->



<div class="header-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">FWR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link mx-md-2" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">Blog</a>
                </li>
            </ul>
            <div class="my-3 my-lg-0">
                <a class="btn btn-outline-light mr-1" href="#">Sign In</a>
                <a class="btn btn-primary" href="#">Sign Up</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron d-flex align-items-center mb-0">
        <div class="container">
            <div class="header-content mx-auto text-center">
                <span class="fa fa-bookmark"></span>
                <h1 class="display-4 my-3 mt-md-4">Hello, world!</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore dolorem ea inventore molestiae nemo neque non, quidem recusandae soluta tenetur! Aut eaque, placeat!</p>
                <p class="mt-3 mt-md-5">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.header-1 -->

<!---------------------------------------------------------------------------------------------------->



<style>
  .header-content {
    max-width: 600px;
  }
  .header-content .fa {
    width: 60px;
    height: 60px;
    background-color: #5863F8;
    border: 2px solid #ddd;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 3.5rem;
    color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      min-height: calc(100vh - 3.5rem);
    }
  }
</style>
<div class="header-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">FWR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link mx-md-2" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-md-2" href="#">Blog</a>
                </li>
            </ul>
            <div class="my-3 my-lg-0">
                <a class="btn btn-outline-light mr-1" href="#">Sign In</a>
                <a class="btn btn-primary" href="#">Sign Up</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron d-flex align-items-center mb-0">
        <div class="container">
            <div class="header-content mx-auto text-center">
                <span class="fa fa-bookmark"></span>
                <h1 class="display-4 my-3 mt-md-4">Hello, world!</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore dolorem ea inventore molestiae nemo neque non, quidem recusandae soluta tenetur! Aut eaque, placeat!</p>
                <p class="mt-3 mt-md-5">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.header-1 -->


<!-------------------------------------------------------------------------------------------------------->
<style>
.signup-title {
  font-size: 1.5rem;
}

.form-label {
  font-size: .875rem;
  font-weight: 600;
  color: #6c757d;
  text-transform: uppercase;
}

.form-control:focus {
  border-color: rgba(88, 99, 248, 0.5);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.15);
          box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.15);
}

.custom-control {
  min-height: 2rem;
  padding-left: 2rem;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #5863f8;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
}

.custom-control-label {
  padding-top: 6px;
  padding-left: 6px;
}

.custom-control-label::before, .custom-control-label::after {
  top: .5rem;
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .signup-2 {
    position: relative;
  }
  .signup-form {
    margin-top: 30px !important;
  }
  .signup-bg {
    background: url("http://assets.free-website-resources.com/img/signup-bg.jpg") no-repeat center center/cover;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50vw - 24px);
    height: 100%;
  }
  .signup-title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .signup-bg {
    width: calc(50vw - 60px);
  }
}

@media (min-width: 1440px) {
  .signup-bg {
    width: calc(50vw - 100px);
  }
}

</style>


<div class="main__top">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">CAR DEALER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto topnav font-weight-bold">
              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Clearence Event</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                   <a class="nav-link" href="#">+7 952 000 00 00</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Вам перезвонить?</a>                  
              </li>
          </ul>
      </div>           
  </nav>
  <div class="signup-2 d-xl-flex py-md-4 py-xl-5">
      <div class="signup-bg"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-6 py-4 py-md-5">
                  <h1 class="signup-title">Sign Up to discover FWR blocks Sign Up to discover FWR blocks <br/> от 250 за шт</h1>
                  <h4>Оставьте заявку на предварительный замер</h4>
                  <div class="signup-form mt-4">
                      <div class="form-group">
                          <label for="name" class="form-label">Ваше имя</label>
                          <input type="text" class="form-control" id="name" required placeholder="Введите ваше имя">
                      </div>
                      <div class="form-group">
                          <label for="number" class="form-label">Ваш номер</label>
                          <input type="text" class="form-control" id="number" required placeholder="Введите номер без 8">
                      </div>
                      <div class="mt-2 mt-md-5">
                          <button type="submit" class="btn btn-lg btn-primary px-md-4 px-xl-5">Send order</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- /.signup-2 -->
</div>


<!-------------------------------------------------------------------------------------------------------->

<style>
bg-light-primary {
  background-color: rgba(88, 99, 248, 0.1);
}

.navbar-light .navbar-brand {
  color: #5863f8;
}

.nav-link {
  -webkit-transition: background-color .3s, color .3s;
  -o-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.nav-link:hover {
  background-color: #e9ecef;
}

.nav-link.active {
  background-color: #5863f8;
  color: #fff !important;
}
 
.header-intro-title {
  font-size: 1.875rem;
  color: #343a40;
}
.mockup-wrap img {
  max-width: 70%;
  margin: 0 auto;
  display: table;
}
</style>
<div class="header-2">
  <nav class="navbar navbar-expand-md navbar-light bg-warning py-md-3">
      <div class="container">
      <a class="navbar-brand font-weight-bold" href="#">FWR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-2-nav" aria-controls="header-2-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center mt-3 mt-md-0" id="header-2-nav">
          <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link active px-2 px-lg-3 rounded" href="#">Home<span class="sr-only">(current)</span></a>
              <a class="nav-link mx-md-2 px-2 px-lg-3 rounded" href="#">About</a>
              <a class="nav-link mx-md-2 px-2 px-lg-3 rounded" href="#">Features</a>
              <a class="nav-link mx-md-2 px-2 px-lg-3 rounded" href="#">Pricing</a>
              <a class="nav-link mx-md-2 px-2 px-lg-3 rounded" href="#">Contact</a>
              <a class="btn btn-link mr-2" href="#">Login</a> 
              <a class="btn btn-outline-primary" href="#">Sign Up</a>
          </div>
      </div>
      </div>
  </nav>
  <div class="py-4 py-md-5 bg-light-primary">
      <div class="container py-xl-4">
          <div class="header-intro text-center mx-md-auto">
              <h1 class="header-intro-title">Get the header you needed for your awesome website.</h1>
              <button class="btn btn-lg btn-primary btn-rounded px-4 mt-3 mt-md-4">Get Started</button>
              <div class="mockup-wrap mt-3">
                  <img src="http://assets.free-website-resources.com/img/imac-bg.png" alt="mockup" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /.header-2 -->


<!--------------------------------------------------------------------------------------->
<script type='text/javascript'>
$('.top-line').after('<div class="mobile-menu d-xl-none">');
$('.top-menu').clone().appendTo('.mobile-menu');
$('.mobile-menu-btn').click(function(){
	$('.mobile-menu').stop().slideToggle();
});
</script>
<style>
.top-line {
  background-color: #222;
  position: relative;
  height: 60px;
}

.top-line .logo {
  padding-left: 25px;
  left: 0;
  display: inline-block;
  position: absolute;
  line-height: 55px;
}

.main-menu {
  padding: 0 130px;
  width: 100%;
  text-align: center;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu ul li {
  display: inline-block;
}

.main-menu ul li.active a {
  color: #fff;
}

.main-menu ul li:hover a {
  color: #f5f5f5;
}

.main-menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 15px;
  line-height: 60px;
  display: block;
  -webkit-transition: color .25s ease, background-color .25s ease;
  -o-transition: color .25s ease, background-color .25s ease;
  transition: color .25s ease, background-color .25s ease;
}
.mobile-menu-btn {
  color: #fff;
  text-align: center;
  line-height: 65px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
  white-space: nowrap;
}

.mobile-menu {
  display: none;
  background-color: #2a2a2a;
  border-top: #343434;
}

.mobile-menu .top-menu {
  display: block;
}

.mobile-menu .top-menu ul {
  padding: 0;
}

.mobile-menu .top-menu ul li {
  display: block;
  text-align: center;
}

.mobile-menu .top-menu ul li:hover {
  background-color: #343434;
}

.mobile-menu .top-menu ul li a {
  padding: 0;
  line-height: 40px;
}

.mobile-menu .top-menu ul li a:hover {
  text-decoration: none;
}
.phone {
  position: absolute;
  padding-right: 25px;
  padding-left: 10px;
  right: 0;
  color: #fff;
  line-height: 55px;
  cursor: pointer;
  -webkit-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
  font-size: 24px;
}

.phone i {
  padding-right: 10px;
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .top-line .logo {
    padding-left: 5px;
  }

  .top-line .phone {
    display: none;
  }

  .top-line .mobile-menu-btn {
    padding-right: 5px;
    display: block;
    text-align: right;
    font-size: 20px;
    line-height: 55px;
  }

  .main-menu {
    padding: 0 30px;
  }
}
@media (max-width: 1199.98px) {
  .main-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }
}
 
</style>
<section class="aboutus bg-dark text-white" id="aboutus" style="background: url(https://kotnapolnitel.ru/assets/img/main__banner.png);">
  <div class="top-line">
    <a href="#" class="logo"><img src="http://placehold.it/150x50/dddddd/333333" alt="logo alt"></a>
    <div class="phone"><i class="fa fa-phone"></i>+777 777 77 77</div>
    <div class="mobile-menu-btn"><i class="fa fa-bars"></i> Меню</div>
    <nav class="main-menu top-menu">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="container py-5 my-5">
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12 ">
            <div class="pb-3"></div>
            <h2>Create amazing landing page with globing template</h2>
            <div class="py-2"></div>
            <p>It is a long established fact that a reader will be of a page when established fact looking at its layout. Maecenas class semper class semper sollicitudin lectus lorem iaculis imperdiet aliquam.</p>
            <div class="py-2"></div>
            <button type="button" class="btn btn-outline-light">Get More Details</button>
        </div>
         <div class="clearfix visible-sm"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card bg-danger">
              <div class="card-body">
                  <h4 class="text-center">Create amazing landing page</h4>
                  <form action="#">
                    <div class="form-group">  
                      <input type="email" class="form-control" id="email" placeholder="User ID">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="pwd" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </form> 
              </div>
            </div> 
        </div>
    </div>
  </div>
</section>