
<div class="container-fluid my-5 px-0">
  <!--Section: Content-->
  <section class="my-md-5" 
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(97).jpg'); background-size: cover; background-position: center center;">
    <div class="p-5" style="background-color: rgba(0,0,0,0.7);">
        <div class="container">
        <!-- Section heading -->
        <h3 class="text-center font-weight-bold text-white mt-3 mb-5">Contact Us</h3>
        <form class="mx-md-5" action="">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body px-4">
                  <!-- Name -->
                  <div class="md-form">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" class="form-control mb-2">
                  </div>
                  <!-- Phone -->
                  <div class="md-form">
                    <label for="phone">Your Phone</label>
                    <input type="text" id="phone" class="form-control mb-2">
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block ml-0 mt-2">Submit inquiry</button>
                </div>
              </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-md-4 mb-4 text-white">
              <h5 class="font-weight-bold">Address</h5>
              <p class="mb-0">1632 Main Street</p>
              <p class="mb-0">New York, 94126</p>
              <p class="mb-4 pb-2">United States</p>
              <h5 class="font-weight-bold">Phone</h5>
              <p class="mb-4 pb-2">+ 01 234 567 89</p>
              <h5 class="font-weight-bold">Email</h5>
              <p>info@gmail.com</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--Section: Content-->
</div>


<!--------------------------------------------------------------------------------------------------->



  <div class="container my-5 py-5">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center">
      <style>
        .map-container {
          height: 200px;
          position: relative;
        }
        .map-container iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      </style>
      <!--Google map-->
      <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
      <!--Google Maps-->
      <!--Grid row-->
      <div class="row d-flex justify-content-center mb-5">
        <!--Grid column-->
        <div class="col-md-6 text-center">
          <h3 class="font-weight-bold">Contact Us</h3>
          <!-- Material outline input -->
          <div class="md-form mt-2">
            <input type="text" id="form-email" class="form-control" placeholder="Введите Ваше имя">
          </div>
          <!-- Material outline input -->
          <div class="md-form mt-2">
            <input type="text" id="form-subject" class="form-control" placeholder="Введите Ваш телефон">
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block mt-2">Submit<i class="fa fa-paper-plane ml-2"></i></button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      <!--Grid row-->
      <div class="row text-center">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <i class="fa fa-map-marker fa-2x text-secondary"></i>
          <p class="font-weight-bold my-3">Address</p>
          <p class="text-muted">New York, 94126, United States</p>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <i class="fa fa-phone fa-2x text-secondary"></i>
            <p class="font-weight-bold my-3">Phone number</p>
            <p class="text-muted">+ 01 234 567 89</p>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <i class="fa fa-envelope fa-2x text-secondary"></i>
            <p class="font-weight-bold my-3">E-mail</p>
            <p class="text-muted">info@gmail.com</p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!--Section: Content-->
  </div>