<div class="container my-5 py-5">
	<section class="text-center text-lg-left dark-grey-text">
	  <div class="row">
		<div class="col-md-6">
		  <h3 class="font-weight-bold">Call to action</h3>
		  <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
			molestiae
			numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>
		  <a class="btn btn-success btn-lg " href="#" role="button">Start now <i class="fa fa-chevron-right"></i></a>
		</div>
		<div class="col-md-6 mb-4 mb-md-0">
		  <div class="display__right">
			<img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid"
			  alt="">
		  </div>
		</div>
	  </div>
	</section>
</div>

<!----------------------------------------->

<div class="container my-5 py-5">
	<section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
	  <div class="row">
		<div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
		  <img src="https://mdbootstrap.com/img/Others/food.jpg" class="img-fluid" alt="">
		</div>
		<div class="col-lg-6 mb-4 mb-lg-0">
		  <h3 class="font-weight-bold">Call to action</h3>
		  <p class="font-weight-bold">That's a very nice subheading</p>
		  <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
			molestiae
			numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>
		  <a class="font-weight-bold" href="#" >Learn more <i class="fa fa-angle-right"></i></a>
		</div>
	  </div>
	</section>
</div>


<!----------------------------------------->


<div class="container my-5 py-5">
  <section class="dark-grey-text text-center">
    <h3 class="font-weight-bold pt-4 mb-4">Call to action</h3>
    <h5 class="font-italic mb-5">At vero eos et accusamus et iusto odio dignissimos qui cupiditate non provident.</h5>
    <div class="row mx-lg-5 mx-md-2">
      <div class="col-md-6 mb-4">
        <div class="view mb-5">
          <img src="https://mdbootstrap.com/img/illustrations/undraw_grand_slam_0q5r.svg" class="img-fluid" alt="smaple image">
        </div>
        <h5 class="font-weight-normal text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h5>
        <p class="text-center"><a href="#" class="btn btn-lg btn-success">Order</a></p>
      </div>
      <div class="col-md-6 mb-4">
        <div class="view mb-5">
          <img src="https://mdbootstrap.com/img/illustrations/undraw_basketball_agx4.png" class="img-fluid" alt="smaple image">
        </div>
        <h5 class="font-weight-normal text-muted">Ut enim ad minim veniam, quis nostrud ut aliquip ex ea commodo consequat.</h5>
        <p class="text-center"><a href="#" class="btn btn-lg btn-success">Order</a></p>
      </div>
    </div>
  </section>
</div>


<!----------------------------------------->

<div class="container">
	<section class="text-center text-lg-left dark-grey-text">
	  <div class="row my-5">
		<div class="col-md-6 mb-4 mb-md-0">
		  <div class="view overlay">
			<img src="https://mdbootstrap.com/img/Photos/Others/img%20(16).jpg" class="img-fluid" alt="">
			<a href="#">
			  <div class="mask rgba-white-light"></div>
			</a>
		  </div>
		</div>
		<div class="col-md-6 mb-4 mb-md-0">
		  <h3 class="font-weight-bold">Material Design Blocks</h3>
		  <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
			molestiae
			numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Travel<i class="fa fa-plane ml-2"></i></a>
		</div>
	  </div>
	  <div class="row my-5">
		<div class="col-md-6 mb-4 mb-md-0">
		  <h3 class="font-weight-bold">Material Design Blocks</h3>
		  <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
			molestiae
			numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Travel<i class="fa fa-plane ml-2"></i></a>
		</div>
		<div class="col-md-6 mb-4 mb-md-0">
		  <div class="view overlay z-depth-1-half">
			<img src="https://mdbootstrap.com/img/Photos/Others/img%20(16).jpg" class="img-fluid" alt="">
			<a href="#">
			  <div class="mask rgba-white-light"></div>
			</a>
		  </div>
		</div>
	  </div>
	</section>
</div>



<!---------------------------------------------->



<div class="container my-5">
  <!-- Section: Block Content -->
  <section class="dark-grey-text">
    <h3 class="font-weight-bold mb-4 pb-2">Our best projects</h3>
    <p class="text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);background-size: cover;">
          <div class="text-white d-flex align-items-center py-5 px-4 px-md-5 rounded" style="background-color: rgba(0,0,0,0.333);">
            <div>
              <h6 class="pink-text">
                <i class="fa fa-eye"></i>
                <strong> Marketing</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>This is card title</strong>
              </h3>
              <a class="btn btn-warning btn-rounded btn-md"><i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);background-size: cover;">
          <div class="text-white d-flex align-items-center py-5 px-4 px-md-5 rounded" style="background-color: rgba(0,0,0,0.333);">
            <div>
              <h6 class="green-text">
                <i class="fa fa-eye"></i>
                <strong> Entertainment</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>This is card title</strong>
              </h3>
              <a class="btn btn-success btn-rounded btn-md"><i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Block Content -->
</div>

<!----------------------------------------------------------------------------------------------------->

<style>
  .aboutus img {
    max-width: 100%;
  }
</style>
<section class="aboutus py-5" id="aboutus">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg">
          </div>
          <div class="col-md-6">
              <div class="pb-5"></div>
              <h2>This is Improve Your Marketing business</h2>
              <div class="py-2"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud .</p>
              <div class="py-2"></div>
              <button type="button" class="btn btn-primary">Get More Details</button>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="pb-5 mt-5"></div>
              <h2>This is Improve Your Marketing business</h2>
              <div class="py-2"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud .</p>
              <div class="py-2"></div>
              <button type="button" class="btn btn-primary">Get More Details</button>
          </div>
          <div class="col-md-6">
              <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg">
          </div>
      </div>
  </div>
</section>












































