<div class="container my-5">
  <!--Section: Content-->
  <section class="text-center">
    <h6 class="font-weight-normal text-uppercase mb-4">Features</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold text-dark mb-4 pb-2">Unique Factors</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">It's really easy to create a landing page for your awesome product.</p>
    <!--First row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-3 mb-4 shadow p-3 mb-5 bg-white rounded">
        <!-- Card -->
        <a class="card">
          <!-- Card content -->
          <div class="card-body my-4">
            <p><i class="fa fa-map fa-2x text-muted"></i></p>
            <h5 class="text-dark mb-0">Responsive</h5>
          </div>
        </a>
        <!-- Card -->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-3 mb-4 shadow p-3 mb-5 bg-white rounded">
        <!-- Card -->
        <a class="card">
          <!-- Card content -->
          <div class="card-body my-4">
            <p><i class="fa fa-apple fa-2x text-muted"></i></p>
            <h5 class="text-dark mb-0">Customizable</h5>
          </div>
        </a>
        <!-- Card -->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-3 mb-4 shadow p-3 mb-5 bg-white rounded">
        <!-- Card -->
        <a class="card">
          <!-- Card content -->
          <div class="card-body my-4">
            <p><i class="fa fa-pencil fa-2x text-muted"></i></p>
            <h5 class="text-dark mb-0">UI Elements</h5>
          </div>
        </a>
        <!-- Card -->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-3 mb-4 shadow p-3 mb-5 bg-white rounded">
        <!-- Card -->
        <a class="card">
          <!-- Card content -->
          <div class="card-body my-4">
            <p><i class="fa fa-recycle fa-2x text-muted"></i></p>
            <h5 class="text-dark mb-0">Clean Code</h5>
          </div>
        </a>
        <!-- Card -->
      </div>
      <!--Grid column-->
    </div>
    <!--First row-->
  </section>
</div>

<!----------------------------------------------------------------------------------->


<style>
  .card-img-100 {
      width: 100px;
      height: 100px;
  }
</style>
<div class="container my-5">
  <!--Section: Content-->
  <section class="dark-grey-text">
    <!-- Section heading -->
    <h3 class="text-center font-weight-bold mb-4 pb-2">Start a project now</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-center w-responsive mx-auto text-muted mt-4 pt-2 mb-5">Hire expert freelancers for any job to be done online or become a freelancer and earn money.</p>
    <!--First row-->
    <div class="row">
      <!--First column-->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <a class="card">
          <!-- Card content -->
          <div class="card-body">
            <div class="media">
              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle bg-secondary mr-4">
                <i class="fa fa-home fa-2x text-info"></i>
              </span>
              <div class="media-body">
                <h5 class="dark-grey-text mb-3">I'm a developer</h5>
                <p class="font-weight-light text-muted mb-0">Your web pages looks good on all devices and screen sizes, including desktop, tablet and mobile.</p>
              </div>
            </div>
            
          </div>
        </a>
        <!-- Card -->
      </div>
      <!--First column-->
      <!--Second column-->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <a class="card">
          <!-- Card content -->
          <div class="card-body">
            <div class="media">
              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle bg-secondary mr-4">
                <i class="fa fa-user fa-2x text-warning"></i>
              </span>
              <div class="media-body">
                <h5 class="text-dark mb-3">I need a developer</h5>
                <p class="font-weight-light text-muted mb-0">Your web pages looks good on all devices and screen sizes, including desktop, tablet and mobile.</p>
              </div>
            </div>
          </div>
        </a>
        <!-- Card -->
        <!-- Card -->
      </div>
      <!--Second column-->
    </div>
    <!--First row-->
  </section>
</div>

<!----------------------------------------------------------------------------------->


<div class="container my-5">
  <!-- Section -->
  <section>
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Services</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers using our template
      globally.</p>
    <div class="row">
      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center bg-success text-white">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="fa fa-object-ungroup fa-4x"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Web Design</a></h5>
            <p class="mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="fa fa-mobile fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Mobile App</a></h5>
            <p class="text-muted mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center bg-warning text-white">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="fa fa-eye fa-4x"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Digital Marketing</a></h5>
            <p class="mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card text-center">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="fa fa-bullhorn fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Branding Package</a></h5>
            <p class="text-muted mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->
</div>

<!----------------------------------------------------------------------------------->



<style>
  .w-responsive {
    width: 75%;
  }
</style>
<div class="container my-5">
  <!-- Section: Block Content -->
  <section class="dark-grey-text">
    <h3 class="text-center font-weight-bold mb-4 pb-2">Our best projects</h3>
    <p class="text-center text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-7">
        <ul class="list-unstyled fa-ul mb-lg-0 mb-5">
          <li class="d-flex justify-content-center pl-4">
            <span class="fa-li"><i class="fa fa-music fa-2x"></i></span>
            <div>
              <h5 class="font-weight-bold mb-3">Marketing</h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
            </div>
          </li>
          <li class="d-flex justify-content-center pl-4">
            <span class="fa-li"><i class="fa fa-music fa-2x"></i></span>
            <div>
              <h5 class="font-weight-bold mb-3">Entertainment</h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
            </div>
          </li>
          <li class="d-flex justify-content-center pl-4">
            <span class="fa-li"><i class="fa fa-music fa-2x"></i></span>
            <div>
              <h5 class="font-weight-bold mb-3">Communication</h5>
              <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-5">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" class="img-fluid rounded z-depth-1" alt="Sample project image">
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <hr class="my-5"> 
  </section>
  <!-- Section: Block Content -->
</div>

<!-------------------------------------------------------------------------------------->


<div class="container my-5 p-5">
  <section class="dark-grey-text">
    <h2 class="text-center font-weight-bold mb-4 pb-2">Why is it so great?</h2>
    <p class="text-center lead  mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="row">
      <div class="col-lg-5 text-center text-lg-left">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
      </div>
      <div class="col-lg-7">
        <div class="row mb-3">
          <div class="col-1">
            <i class="fa fa-share fa-lg"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Safety</h5>
            <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
              quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-1">
            <i class="fa fa-share fa-lg"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Technology</h5>
            <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
              quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-share fa-lg"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Finance</h5>
            <p class="text-dark mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima
              veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--------------------------------------------------------------------------------------------->



