<div class="container my-5 px-5 pt-5 pb-4">
  <section class="dark-grey-text">
    <style>
      .d-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        grid-gap: 7px;
      }

      .item {
        position: relative;
      }

      .item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      }

      .item:nth-child(2) {
        grid-column: 2;
        grid-row: 0 / 3;
      }

      .item:nth-child(3) {
        grid-column: 2;
        grid-row: 2 / 3;
      }

      .item:nth-child(4) {
        grid-column: 2;
        grid-row: 3 / 3;
      }

      .item a {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
      }

      .item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    </style>
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4">
        <h2 class="font-weight-normal mb-4">Lovely place to work</h2>
        <p class="lead text-muted">Beautifully designed by best interior designers for the best web designers</p>
        <p class="text-muted">We can combine beautiful, modern designs with clean, functional. And best of all, we
          are super passionate
          about our work. Thought does cognitive into follow and rationale annoyed.</p>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="d-grid">
          <figure class="item">
            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(10).jpg"
              class="rounded" data-size="1600x1067">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(10).jpg" />
            </a>
          </figure>
          <figure class="item">
            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(11).jpg"
              class="rounded" data-size="1600x1067">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(11).jpg" />
            </a>
          </figure>
          <figure class="item">
            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(12).jpg"
              class="rounded" data-size="1600x1067">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(12).jpg" />
            </a>
          </figure>
          <figure class="item">
            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(13).jpg"
              class="rounded" data-size="1600x1067">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(13).jpg" />
            </a>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>

<!--------------------------------------------------------------------------------------->



<div class="container my-5">
  <!-- Section: Block Content -->
  <section class="dark-grey-text">
    <h3 class="text-center font-weight-bold mb-4 pb-2">Our best projects</h3>
    <p class="text-center text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-5">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" class="img-fluid rounded" alt="Sample project image">
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-7">
        <ul class="list-unstyled fa-ul mb-0">
          <li class="d-flex justify-content-center pl-4">
            <span class="fa-li"><i class="fa fa-book fa-2x"></i></span>
            <div>
              <h5 class="font-weight-bold mb-3">Education</h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
            </div>
          </li>
          <li class="d-flex justify-content-center pl-4">
            <span class="fa-li"><i class="fa fa-code fa-2x"></i></span>
            <div>
              <h5 class="font-weight-bold mb-3">Technology</h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
            </div>
          </li>
          <li class="d-flex justify-content-center pl-4">
            <span class="fa-li"><i class="fa fa-money fa-2x"></i></span>
            <div>
              <h5 class="font-weight-bold mb-3">Finance</h5>
              <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <hr class="my-5">
  </section>
  <!-- Section: Block Content -->
</div>

<!---------------------------------------------------------------------------------------------------->

<div class="container my-5">
  <section>
    <div class="card mb-4">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid rounded-left" src="https://mdbootstrap.com/img/Photos/Vertical/7.jpg" alt="project image">
        </div>
        <div class="col-md-6 p-5 align-self-center">
          <h3 class="font-weight-normal mb-3">Project detail</h3>
          <p class="text-muted">Out or geared it but to best up samples the for she phase of copy would do in divine
            of taken and the take medical or upper at him in the logbook were, we price his mostly to commas.</p>
          <ul class="list-unstyled font-small mt-5 mb-0">
            <li>
              <p class="text-uppercase mt-4 mb-2"><strong>Share</strong></p>
              <div class="d-flex justify-content-start">
                <a class="text-muted pr-3" href="#"><i class="fa fa-facebook-f"></i></a>
                <a class="text-muted pr-3" href="#"><i class="fa fa-twitter"></i></a>
                <a class="text-muted pr-3" href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<!----------------------------------------------------------------------------------------------->


<div class="container pt-5 my-5">
  <section class="mx-md-5">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-6 mb-4">
        <h2 class="font-weight-bold mb-3">Features</h2>
        <p class="text-muted pt-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center mb-md-0 mb-5">
        <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" class="img-fliud">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fa fa-paper-plane pr-2"></i> Feature 1
        </h4>
        <p class="text-muted mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fa fa-rocket pr-2"></i> Feature 2
        </h4>
        <p class="text-muted mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fa fa-user pr-2"></i> Feature 3
        </h4>
        <p class="text-muted mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fa fa-rocket pr-2"></i> Feature 4
        </h4>
        <p class="text-muted mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </section>
</div>

<!--------------------------------------------------------------------------------------------------->



<div class="container py-5 my-5">
  <section class="p-md-3 mx-md-5 text-lg-left">
    <div class="row">
      <div class="col-12">
        <h2 class="font-weight-bold mb-3">Features</h2>
        <p class="lead py-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat.
        </p>
        <a class="blue-text font-weight-bold" href="#">Learn more 
          <i class="fa fa-chevron-right pl-1"></i>
        </a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class=" mt-3 text-center">
          <i class="fa fa-map fa-3x mb-4"></i>
          <h4 class="font-weight-bold">Feature 1</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class=" mt-3 text-center">
          <i class="fa fa-map fa-3x mb-4"></i>
          <h4 class="font-weight-bold">Feature 2</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class=" mt-3 text-center">
          <i class="fa fa-map fa-3x mb-4"></i>
          <h4 class="font-weight-bold">Feature 3</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class=" mt-3 text-center">
          <i class="fa fa-map fa-3x mb-4"></i>
          <h4 class="font-weight-bold">Feature 4</h4>
        </div>
      </div>
    </div>
  </section>
</div>