<!-- Footer -->
<footer class="page-footer bg-info py-4">
  <!-- Footer Elements -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-start">
        <!-- Copyright -->
        <div class="footer-copyright text-left bg-transparent">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of © 2019 Copyright:
          <a href="#"> site.com</a>
        </div>
        <!-- Copyright -->
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <ul class="list-unstyled d-flex mb-0">
          <li>
            <a class="mr-3" href='#' target="_blank"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li>
            <a class="mr-3" href='#' target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="mr-3" href='#' target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer Elements -->
</footer>
<!-- Footer -->