<div class="container my-5">
  <!--Section: Content-->
  <section>
    <h6 class="font-weight-normal text-uppercase font-small mb-4 text-center">FAQ</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold text-dark mb-4 pb-2 text-center">Frequently Asked Questions</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>
    <div class="row">
      <div class="col-md-12 col-lg-10 mx-auto mb-5">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
          <!-- Accordion card -->
          <div class="card border-top border-bottom-0 border-left border-right border">
            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="text-dark font-weight-normal mb-0">
                  Is this a secure site for purchases? <i class="fa fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
              data-parent="#accordionEx">
              <div class="card-body">
                Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
              </div>
            </div>
          </div>
          <!-- Accordion card -->
          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">
            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="text-dark font-weight-normal mb-0">
                  How long are your contracts? <i class="fa fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body">
                Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.
              </div>
            </div>
          </div>
          <!-- Accordion card -->
          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">
            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="text-dark font-weight-normal mb-0">
                  Can I cancel my subscription? <i class="fa fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
              data-parent="#accordionEx">
              <div class="card-body">
                You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
              </div>
            </div>
          </div>
          <!-- Accordion card -->
          <!-- Accordion card -->
          <div class="card border-left border-right border-light">
            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                aria-expanded="false" aria-controls="collapseThree4">
                <h5 class="text-dark font-weight-normal mb-0">
                  Can I request refund? <i class="fa fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
              data-parent="#accordionEx">
              <div class="card-body">
                Unfortunately, not. We do not issue full or partial refunds for any reason.    
              </div>
            </div>
          </div>
          <!-- Accordion card -->
        </div>
        <!-- Accordion wrapper -->
      </div>
    </div>
  </section>  
</div>

<!--------------------------------------------------------------------------------------------------> 



<div class="container my-5">
  <!--Section: Content-->
  <section>
    <h6 class="font-weight-normal text-uppercase font-small mb-4 text-center">FAQ</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="font-weight-normal mb-3">Is this a secure site for purchases?</h5>
        <p class="text-muted">Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.</p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="font-weight-normal mb-3">Can I cancel my subscription?</h5>
        <p class="text-muted">You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.</p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="font-weight-normal mb-3">How long are your contracts?</h5>
        <p class="text-muted">Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.</p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="font-weight-normal mb-3">Can I update my card details?</h5>
        <p class="text-muted">Yes. Go to the billing section of your dashboard and update your payment information.</p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="font-weight-normal mb-3">Can I request refund?</h5>
        <p class="text-muted">Unfortunately, not. We do not issue full or partial refunds for any reason.</p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="font-weight-normal mb-3">Can I try your service for free?</h5>
        <p class="text-muted">Of course! We’re happy to offer a free plan to anyone who wants to try our service.</p>
      </div>
    </div>
  </section>
</div>

<!----------------------------------------------------------------------------------------------->



<div class="container my-5">
  <!--Section: Content-->
  <section>
    <h6 class="font-weight-normal text-uppercase font-small mb-4 text-center">FAQ</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>
    <div class="row text-center text-md-left">
      <div class="col-md-6 mb-4">
        <h5 class="font-weight-normal mb-3">What payment services do you support?</h5>
        <p class="text-muted">We accept all major credit cards.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h5 class="font-weight-normal mb-3">Can I update my card details?</h5>
        <p class="text-muted">Yes. Go to the billing section of your dashboard and update your payment information.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h5 class="font-weight-normal mb-3">Is this a secure site for purchases?</h5>
        <p class="text-muted">Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h5 class="font-weight-normal mb-3">Can I cancel my subscription?</h5>
        <p class="text-muted">You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h5 class="font-weight-normal mb-3">How long are your contracts?</h5>
        <p class="text-muted">Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h5 class="font-weight-normal mb-3">Can I request refund?</h5>
        <p class="text-muted">Unfortunately, not. We do not issue full or partial refunds for any reason.</p>
      </div>
    </div>
  </section>
</div>
