<div class="container my-5">
  <!-- Section -->
  <section class="py-5">
    <h1 class="font-weight-bold text-center mb-5">Our clients</h1>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <div class="view3">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Template/38.png" alt="Sample image">
        </div>
        <div class="view3">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Template/34.png" alt="Sample image">
        </div>
        <div class="view3">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Template/40.png" alt="Sample image">
        </div>
        <div class="view3">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Template/36.png" alt="Sample image">
        </div>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-6 col-lg-5">
        <div class="view3">
          <img class="img-fluid mx-auto" src="https://mdbootstrap.com/img/Photos/Template/39.png" alt="Sample image">
        </div>
        <div class="view3">
          <img class="img-fluid mx-auto" src="https://mdbootstrap.com/img/Photos/Template/35.png" alt="Sample image">
        </div>
        <div class="view3">
          <img class="img-fluid mx-auto" src="https://mdbootstrap.com/img/Photos/Template/41.png" alt="Sample image">
        </div>
        <div class="view3">
          <img class="img-fluid mx-auto" src="https://mdbootstrap.com/img/Photos/Template/37.png" alt="Sample image">
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section -->
</div>
